body { background: #a762a; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 24px; display: flex; }
.block-router-0 { color: #d1c9d1; font-size: 16px; margin-bottom: 5px; }
.block-helper-1 { color: #c414c3; font-size: 17px; margin-bottom: 5px; }
.block-cache-2 { color: #aad95b; font-size: 17px; margin-bottom: 5px; }
.block-email-3 { color: #6c7c71; font-size: 12px; margin-bottom: 5px; }
.block-uploader-4 { color: #3006ca; font-size: 14px; margin-bottom: 5px; }